.player img{
    border:1px solid #000;
    width: 100px;
    height: 100%;
    border-radius: 50%;
}
.room{
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #fff;
}
.players{
    position: relative;
    width: 50%;
    height: 100%;
    object-fit: contain;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap:10px;
    align-items: center;
    padding-left: 25px;
}
.players p{
    color: white;
    text-align: center;
}
.player{
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.room__indent{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    button{
        outline: none;
        border: none;
        transition: .2s;
        &:hover{
            background-color: #666666;
        }
        &:active{
            background-color: #000;
        }
    }
}